<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-products.css">
    <script defer src="/js/productCart.js"></script>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
        <div class="flex">

        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>