<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-productEdit.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <div class="container">
                <div class="title">Crear Producto</div>
                <form action="/products" method="POST" enctype="multipart/form-data">
                    <div class="product-details">
                        <div class="input-box">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" id="name" placeholder="Hamburguesas">
                        </div>
                        <div class="input-box">
                            <label for="description">Descripcion</label>
                            <input type="text" name="description" id="description" placeholder="Hamburguesas de carne 170gr">
                        </div>
                        <div class="input-box">
                            <label for="image">Imagen</label>
                            <input type="file" name="image" id="image" class="input-img" accept="image/*">
                        </div>
                        <div class="input-box">
                            <label for="category">Categoria</label>
                            <select name="category" id="category">
                                <option value="#" selected="true" disabled>Categoría</option>
                                <option value="Carnes">Carnes</option>
                                <option value="Pescados">Pescados</option>
                                <option value="Pollos">Pollos</option>
                                <option value="Veganos">Veganos</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <label for="weight">Peso</label>
                            <input type="number" name="weight" id="weight" placeholder="25kg">
                        </div>
                        <div class="input-box">
                            <label for="price">Precio</label>
                            <input type="number" name="price" id="price" placeholder="$300">
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <input type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>