<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-productEdit.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <div class="container">
                <div class="title">Editar Producto</div>
                <form action="/products" method="POST">
                    <div class="product-details">
                        <div class="input-box">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" placeholder="Hamburguesas">
                        </div>
                        <div class="input-box">
                            <label for="description">Descripcion</label>
                            <input type="text" id="description" placeholder="Hamburguesas de carne 170gr">
                        </div>
                        <div class="input-box">
                            <label for="image">Imagen</label>
                            <input type="file" class="input-img" accept="image/*">
                        </div>
                        <div class="input-box">
                            <label for="Category">Categoria</label>
                            <select name="Category" id="Category">
                                <option value="1">Categoría</option>
                                <option value="2">Carne Vacuna</option>
                                <option value="3">Pescados</option>
                                <option value="4">Mariscos</option>
                                <option value="5">Pollo</option>
                                <option value="6">Empanizados</option>
                                <option value="7">Veganos</option>
                                <option value="8">Vegetarianos</option>
                                <option value="9">Celíacos</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <label for="size">Tamaño</label>
                            <input type="text" id="size" placeholder="Mediana">
                        </div>
                        <div class="input-box">
                            <label for="price">Precio</label>
                            <input type="text" id="price" placeholder="$300">
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <input type="submit" value="Cancelar">
                        </div>
                        <div class="button">
                            <input type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>