<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-cart.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
        <div class="main-contenedor">
            <div class="barra-busqueda">
                <form action="#" method="POST">
                    <input type="text" name="search" placeholder="lo que buscás">

                    <i class="fas fa-search lupa"></i>
                </form>
            </div>

            <div class="nav-search">

                <form action="/categorias" method="POST">
                    <select name="categoría">
                        <option value="1">Categoría</option>
                        <option value="2">Carne Vacuna</option>
                        <option value="3">Pescados</option>
                        <option value="4">Mariscos</option>
                        <option value="5">Pollo</option>
                        <option value="6">Empanizados</option>
                        <option value="7">Veganos</option>
                        <option value="8">Vegetarianos</option>
                        <option value="9">Celíacos</option>
                    </select>
                </form>
                <form action="/productos" method="POST">

                    <select name="producto">
                        <option value="1">Buscar por</option>
                        <option value="2">Frescos</option>
                        <option value="3">Congelados</option>
                        <option value="4">Empanizados</option>
                        <option value="5">Cortes Premium</option>
                        <option value="6">Pack</option>
                        <option value="7">Precio</option>
                    </select>
                </form>
            </div>
            <div>
                <article>
                    <a href="/products/productDetail"><img src="/images/productos/milaqueso.jpg" alt="" width="50%"></a>
                    <p class="name-product">Milanesa con Queso</p>
                    <p class="product-price">Precio por Kilo: $1500</p>
                </article>
            </div>
            <div class="cart-icon-bottom"><i class="fas fa-cart-plus"></i>
            </div>
        </div>

    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>

</html>