<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" 
    rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="stylesheet" href="/css/styles-body.css">
    <title>Morfi</title>
</head>
<body>
    <header>

        <div class="header1">
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            <div>
              <a href="/"><img src="/images/logo_fondo_verde.jpg" alt="Logo de la empresa"  class="logo"></a>
            </div>
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        
        <nav class="header-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Ayuda</a></li>
               </ul>
       </nav>
    </header>

    <main>
       
      <div class="barra-busqueda">
        <form action="#" method="POST">
            <input type="text" name="search" placeholder="lo que buscás" > 
          
            <button><i class="fa fa-search"></i></button>
        </form>      
         
       </div>

      <div id="slide" class="border-img"><!--<img src=""alt=-->"ACA VA EL SLIDE CON LAS OFERTAS Y PROMOCIONES" </div>
        
       <section>
           <h4>NUESTROS PRODUCTOS</h4>

           <div class="flex-box">
              <div class="wraper">
                  <article class="shadow">
                   <a href="#"><img src="/images/img-home/carniceria.jpeg" alt="carnicería" width="100%"></a>
                   <p>CARNES</p>
                  </article>   
              </div>

              <div class="wraper ">
                <article class="shadow">
                 <a href="#"><img src="/images/img-home/vegana.jpeg" alt="" width="100%"></a>
                 <p>VEGGIES</p>
                </article>   
              </div>
              
              <div class="wraper">
                <article class="shadow">
                 <a href="#"><img src="/images/img-home/pescaderia.jpeg" alt="" width="100%"></a>
                 <p>PESCADERIA</p>
                </article>   
              </div>  

              <div class="wraper">
                <article class="shadow">
                 <a href="#"><img src="/images/img-home/polleria.jpeg" alt="" width="100%"></a>
                 <p>GRANJA</p>
                </article>   
              </div>  

            </div> 
            
       </section>
        
    </main>

    <footer>
       
      
          <nav class="footer-nav">
              <ul>
                  <li><a href="#">Productos</a></li>
                  <li><a href="#">Contacto</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Nosotros</a></li>
              </ul>

          </nav>    

        

    </footer>

</body>
</html>