<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-detail.css">
    <link rel="stylesheet" href="/css/styles-body.css">
    <title>Morfi-Detalle del Producto</title>
</head>

<body>
    <header>

        <div class="header1">
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            <div>
              <a href="/"><img src="/images/logo_fondo_verde.jpg" alt="Logo de la empresa"  class="logo"></a>
            </div>
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        
        <nav class="header-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Ayuda</a></li>
               </ul>
       </nav>
    </header>
    <main>
        <div class="barra-busqueda"> 
            <input type="text" placeholder="¿Qué producto buscás?" />
            <i class="fa fa-search"></i>
        </div>
        <section>
            <article>
                <div class="product-detail">
                    <img class="product-img" src="/images/productos/milaqueso.jpg">
                    <div class="product-vip">
                        <h2 class="product-title">Milanesa con Queso</h2>
                        <p class="product-price">$500</p>
                        <div class="product-quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="product-quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>
                        <div class="product-shopping-cart"><i class="fas fa-shopping-cart"></i></div>
                    </div>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Temporibus magni at dolorum a tenetur corrupti earum quo tempore, reiciendis natus
                    iusto sunt autem soluta vel qui ut repellendus asperiores nulla!
                </p>
            </article>
    </main>
    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>