<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylessc.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    rel="stylesheet" />

    <title>Morfi</title>
</head>

<body>
    <header>
        
        <div class="burger-menu burg">
            <i class="fas fa-bars light-text"></i>
        </div>
        
        <div><img src="" alt="Logo de la empresa"></div>

        <div class="myaccount">
        <i class="fas fa-user-circle"></i>
        </div>
                  
    </header>
    <main>
        <div>
            <input type="text" placeholder="¿Qué producto buscás?" />
            <button><i class="fa fa-search"></i></button>
        </div>
              
        <div><img src="/images/img-home-banner.jpg" alt="" width="100%"></div>
        <section>

            <article>
                <h2></h2>
                <img src="" alt="" width="100%">
                <p></p>
                <p></p>
                <h3></h3>
            </article>

            <article>
                <h2></h2>
                <img src="" alt="" width="100%">
                <p></p>
                <p></p>
                <h3></h3>
            </article>

            <article>
                <h2></h2>
                <img src="" alt="" width="100%">
                <p></p>
                <p></p>
                <h3></h3>
            </article>
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ol>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <a href="https://www.google.com/">Ir a Google</a>
    </main>
    <footer>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

    </footer>

</body>

</html>