*{
    box-sizing: border-box;
}

body {
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   line-height: 20px;
}

main{
  background-color: rgb(216, 238, 228);
  margin-top: 0;
  padding-top: 20px;
}

header {
    background-color: salmon;
    padding: 5px 15px 30px;
    margin-bottom: 0;
}
.header-nav ul{
    margin-left: 0;
    padding: 0;
    display:none;
    justify-content: space-between;
    color:white;
    list-style-type: none;
    flex-wrap: wrap;
    
}
.header-nav a{
    text-decoration: none;
    color:black;
   
}

.product-detail{
    display: flex;
}
.product-img{
    width: 45%;
    margin-top: 50px;
    margin-left: 100px;

}
.product-vip{
    margin-top: 50px;
    width: 45%;
}
.product-description{
    width: 90%;
}

footer {
    background-color: salmon;
    padding: 5px 10px;
}
.footer-nav{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0,6;
}
.footer-nav ul{
    padding: 0px;
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
   
}
.footer-nav li{
    font-size: 17px;
    margin:5px 3px;
    width: 35%;

}
.footer-nav a{
    text-decoration: none;
    color:black;
    margin: 10px 0;
   
}

@media (min-width: 1000px){
    .burger-menu{
        display: none;
    }
    .header-nav ul{
        display: flex;
    }    
    .header1{
        display:flex;
        justify-content: space-between;
        color:white;
        font-size: 2.5em;
        padding:20px;
    }
    .header-nav ul{
        justify-content: space-around;
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-nav{
        display: flex;
        flex-wrap: wrap;
        width:90%;
    }
    .footer-nav ul{
        padding: 0px;
        display:flex;
        justify-content: space-around;
        list-style-type: none;
        flex-wrap: nowrap;
        width: 90%;
       
    }
    .footer-nav li{
        font-size: 17px;
        margin:5px 3px;
        
    
    }
    .footer-nav a{
        text-decoration: none;
        color:black;
        margin: 10px 0;
       
    }    

}