.header-aux {
    height: 100px;
}

.contenedor {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.login-wrapper {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px grey;
}

.input-wrapper {
    margin: 5px 0px 5px 0px;
    display: flex;
}

.input-wrapper input {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.login-button {
    align-self: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 10%;
    width: 70%;
    border-radius: 15px;
}

.login-button:hover {
    background-color: rgb(97, 97, 97);
    color: white;
}

.login-link {
    align-self: center;
    text-decoration: none;
}

.signup-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    width: 75%;
    max-height: 20px;
}