*{
    box-sizing: border-box;
}

  

.nav-search{
    display: flex;
    justify-content: space-around;
    height: 10px;
    padding: 15% 8%;
    align-items: center;
    font-size: medium;
    }

.name-product{
   color: black;
   font-weight: bold;
   font-size: 20px;

}

.product-price{
   color: rgb(22, 94, 22);
   font-weight: 200;
   font-size: 17px; 
   
}

.cart-icon-bottom{
    color: #000000ad;
    display: block;
    max-width: 50px;
    padding: 15px 0 25px;
    font-size: 40px;
    margin: auto;
}

.main-contenedor{
    width: 100%;
}

@media (min-width: 768px){

}

   