*{
    box-sizing: border-box;
}

.product-img{
    
    margin-top: 20px;
}


.product-price{
    margin-top: 60px;
}
.product-quantity{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.product-quantity button{
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    background: #fff;
}
.product-quantity input{
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100px;
    font-size: 20px;
    color: #000;
    font-weight: 300;
}
.product-description{
    text-align: center;
    margin-top: 40px;
    margin-left: 6%;
    margin-right: 6%;
}

.product-shopping-cart{

    margin-top: 15px;

}



@media (min-width: 768px){
    
    
    .product-detail{
        display: flex;
        flex-direction: row;
    }
    .product-img{
        width: 45%;
        height: auto;
        margin-top: 50px;
        margin-left: 100px;
    }
    .product-vip{
        margin-top: 50px;
        width: 45%;
    }
    
  
}