<div class="header1">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <div>
        <a href="/"><img src="/images/dh-morfi-logo-white.png" alt="Logo de la empresa" class="logo"></a>
    </div>
    <a href="/users/login"><i class="fas fa-user-circle"></i></a>
    <a href="/products/Cart"><i class="fas fa-shopping-cart"></i></a>
</div>


<nav class="header-nav">
    <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
</nav>