<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-login.css">
    <script defer src="/js/loginForm.js"></script>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
        <div class="contenedor">
            <div class="form-contenedor">
                <div class="login">
                    <form action="login" class="login-form" METHOD="POST">
                        <h2 class="titulo">Ingresa</h2>
                        <div class="input-field">
                            <label for="email">Email</label>
                            <br>
                            <i class="fas fa-user"></i>
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        <br>
                        <div class="input-field">
                            <label for="password">Contraseña</label>
                            <br>
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>
                        <br>
                        <label for="rememberUser" class="font-17">
                            <input type="checkbox" name="rememberUser">
                            Mantener sesión abierta
                        </label>
                        <br>
                        <input type="submit" class="btn solid" value="Ingresar">
                    </form>
                    <div>
                        <a href="#" class="login-link font-17">¿Olvidaste tu contraseña?</a>
                        <p class="social-text">O Ingresa con redes sociales</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panels-contenedor">
                <div class="panel">
                    <div class="content">
                        <h3>¿Eres nuevo?</h3>
                        <a href="/users/register">
                            <button class="btn transparent" id="sign-up-button" >
                                Registrate
                            </button>
                        </a>
                        <div class="validation-errors">
                            <div class="frontend-validations">
                                <p class="error-title" id="error-title"></p>
                                <ul class="errors" id="errors"></ul>
                            </div>
                            <div class="backend-validations">
                                <% if (locals.errors) { %> 
                                    <p style = "color:red">ERROR</p>
                                    <ul>
                                        <% for (let error of errors) { %> 
                                            <li style = "color:red"><%= error.msg %></li>
                                        <% } %> 
                                    </ul>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>
</html>