* {
  box-sizing: border-box;
}

#main-section section article {
  background-color: white;
  margin-bottom: 10px;
  border-top: solid 1px #ebebeb;
  border-left: solid 15px #ebebeb;
  border-right: solid 15px #ebebeb;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.product-wrapper {
  padding: 15px;
}

.product {
  border: 1px solid #ebebeb;
}

.product-content {
  position: relative;
  border-top: 1px solid #ebebeb;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.fa-cart-plus {
  color: #39b54a;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.fa-cart-plus:hover {
  transform: rotate(-90deg);
}

.price {
  font-size: 18px;
  padding-left: 20px;
}

.discount {
  color: green;
  font-size: 16px;
  padding-left: 20px;
}

.name {
  font-size: 16px;
  padding-left: 20px;
  color: white;
}

.name:hover {
  color: #666;
}

@media (min-width: 480px) and (max-width: 769px) {
  .product-wrapper {
    width: 50%;
    box-shadow: none;
    border: 1px solid #ebebeb;
  }
}

@media (min-width: 769px) {
  .product-wrapper {
    width: 25%;
    box-shadow: none;
    border: 1px solid #ebebeb;
  }
}
