<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-login.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
        <div class="contenedor">
            <div class="form-contenedor">
                <div class="login">
                    <form action="#" class="login-form">
                        <h2 class="titulo">Ingresa</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input 
                            type="text" 
                            name="usuario" 
                            id="usuario"
                            placeholder="Usuario">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input 
                            type="password" 
                            name="contraseña" 
                            id="contraseña" 
                            placeholder="Contraseña">
                        </div>
                        <label class="font-17"><input type="checkbox" id="login-checkbox" value="login-checkbox"> Mantener sesión abierta</label>
                        <a href="#" class="login-link font-17">¿Olvidaste tu contraseña?</a>
                        <input type="submit" class="btn solid" value="Ingresar">
                        <p class="social-text">O Ingresa con redes sociales</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panels-contenedor">
                <div class="panel">
                    <div class="content">
                        <h3>¿Eres nuevo?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Ducimus ab ipsam deserunt vero.
                        </p>
                        <a href="/users/register">
                            <button class="btn transparent" id="sign-up-button" >
                                Registrate
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>
</html>
</body>
</html>