<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-login.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
        <h1>Perfil usuario</h1>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>
</html>
</body>
</html>