<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-login.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <main>
       <p>Tu email es: <%= user.email %> </p> 
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>