<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section>            
            <div class="contenedor">
                <div class="register-wrapper">
                    <div class="title">Registro</div>
                    <form action="/users" method="POST" enctype="multipart/form-data">
                        <div class="input-wrapper">
                            <label for="first_name"></label>
                            <input 
                            type="text" 
                            name="first_name" 
                            id="first_name"
                            placeholder="Nombre">
                        </div>
                        <div class="input-wrapper">
                            <label for="last_name"></label>
                            <input 
                            type="text" 
                            name="last_name" 
                            id="last_name"
                            placeholder="Apellido">
                        </div>
                        <div class="input-wrapper">
                            <label for="user-image"></label>
                            <input 
                            type="file" 
                            name="user-image" 
                            id="user-image">
                        </div>
                        <div class="input-wrapper">
                            <label for="address"></label>
                            <input 
                            type="text" 
                            name="address" 
                            id="address"
                            placeholder="Direccion">
                        </div>
                        <div class="input-wrapper">
                            <label for="email"></label>
                            <input 
                            type="mail"
                            name="email" 
                            id="email"
                            placeholder="Email">
                        </div>
                        <div class="input-wrapper">
                            <label for="password"></label>
                            <input 
                            type="password" 
                            name="password" 
                            id="password" 
                            placeholder="Contraseña">
                        </div>
                        <div class="input-wrapper">
                            <label for="password2"></label>
                            <input 
                            type="password" 
                            name="password2" 
                            id="password2" 
                            placeholder="Repetir contraseña">
                        </div>
                        <button type="submit" class="register-button">Crea tu cuenta</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
  
  </body>
  </html>