<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" 
    rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles-body.css">
    <title>Morfi-Registro</title>
</head>
<body>
    <header>

        <div class="header1">
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            <div>
              <a href="/"><img src="/images/logo_fondo_verde.jpg" alt="Logo de la empresa"  class="logo"></a>
            </div>
            <a href="/users/login"><i class="fas fa-user-circle"></i></a>
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        
        <nav class="header-nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Ayuda</a></li>
               </ul>
       </nav>
    </header>
    <main>
        <div class="contenedor">
            <div class="register-wrapper">
                <h2>Registro</h2>
                <div class="input-wrapper">
                    <input 
                    type="mail" 
                    name="email" 
                    id="usuario"
                    placeholder="Email">
                </div>
                <div class="input-wrapper">
                    <input 
                    type="text" 
                    name="usuario" 
                    id="usuario" 
                    placeholder="Usuario">
                </div>
                <div class="input-wrapper">
                    <input 
                    type="password" 
                    name="contraseña" 
                    id="contraseña" 
                    placeholder="Contraseña">
                </div>
                <button type="submit" class="register-button">Crea tu cuenta</button>
            </div>
        </div>
    </main>
    <footer>
     
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
  
            </nav>    
            
    </footer>
  
  </body>
  </html>