<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <div class="contenedor">
            <div class="register-wrapper">
                <h2>Registro</h2>
                <div class="input-wrapper">
                    <input 
                    type="mail" 
                    name="email" 
                    id="usuario"
                    placeholder="Email">
                </div>
                <div class="input-wrapper">
                    <input 
                    type="text" 
                    name="usuario" 
                    id="usuario" 
                    placeholder="Usuario">
                </div>
                <div class="input-wrapper">
                    <input 
                    type="password" 
                    name="contraseña" 
                    id="contraseña" 
                    placeholder="Contraseña">
                </div>
                <button type="submit" class="register-button">Crea tu cuenta</button>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
  
  </body>
  </html>