<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <div class="contenedor">
            <div class="form-contenedor">
                <div class="register">
                    <form action="register" class="register-form" method="post" enctype="multipart/form-data">
                        <h2 class="titulo">Registrate</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input 
                            type="text" 
                            name="username" 
                            id="username"
                            placeholder="Usuario">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input 
                            type="email" 
                            name="email" 
                            id="email"
                            placeholder="Email">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input 
                            type="password" 
                            name="password" 
                            id="password" 
                            placeholder="Contraseña">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input 
                            type="password" 
                            name="password2" 
                            id="password2" 
                            placeholder="Repetir contraseña">
                        </div>
                        <div class="user-img">
                            <label for="image">Foto de usuario</label>
                            <input type="file" name="image" id="image" accept="image/*">
                        </div>
                        <input type="submit" class="btn solid" value="Registrar">
                        <p class="social-text">O Registrate con redes sociales</p>
                        <div class="social-media">
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panels-contenedor">
                <div class="panel">
                    <div class="content">
                        <h3>¿Uno de nosotros?</h3>
                        <a href="/users/login">
                            <button class="btn transparent" id="sign-up-button" >
                                Ingresa
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body> 
</html>