<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>

    <main>
       
      <div class="barra-busqueda">
        <form action="#" method="POST">
            <input type="text" name="search" placeholder="lo que buscás" > 
          
            <i class="fa fa-search"></i>
        </form>      
         
       </div>

      <div id="slide" class="border-img"><!--<img src=""alt=-->"ACA VA EL SLIDE CON LAS OFERTAS Y PROMOCIONES" </div>
        
       <section>
           <h4>NUESTROS PRODUCTOS</h4>

           <div class="flex-box">
              <div class="wraper">
                  <article class="shadow">
                    <a href="/products/category/1">
                      <img src="/images/product-category/carniceria.jpeg" alt="carnicería" width="100%">
                    </a>
                    <p>CARNES</p>
                  </article>   
              </div>

              <div class="wraper ">
                <article class="shadow">
                 <a href="/products/category/4"><img src="/images/product-category/vegana.jpeg" alt="" width="100%"></a>
                 <p>VEGGIES</p>
                </article>   
              </div>
              
              <div class="wraper">
                <article class="shadow">
                 <a href="/products/category/2"><img src="/images/product-category/pescaderia.jpeg" alt="" width="100%"></a>
                 <p>PESCADERIA</p>
                </article>   
              </div>  

              <div class="wraper">
                <article class="shadow">
                 <a href="/products/category/3"><img src="/images/product-category/polleria.jpeg" alt="" width="100%"></a>
                 <p>GRANJA</p>
                </article>   
              </div>  

            </div> 
            
       </section>
        
    </main>

    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>

</body>
</html>